alembic==1.11.1
Authlib==1.2.0
fastapi==0.103.2
httpx==0.24.1
ipython==8.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
asyncpg==0.28.0
pytest==7.3.2
requests==2.31.0
SQLAlchemy==2.0.16
uvicorn==0.22.0
passlib==1.7.4
bcrypt==4.0.1
sqlalchemy-utils==0.41.1
python-multipart==0.0.6
pyjwt==2.7.0
python-dateutil==2.8.2
pydantic-settings==2.0.2
pydantic[email]
lxml==4.9.3
# dev
black==23.3.0
flake8==6.0.0
isort==5.12.0
mypy==1.4.0
types-passlib==1.7.7.12
expects==0.9.0
types-requests==2.31.0.7
pytest-asyncio==0.21.1
miniflux==1.0.0
# pinecone
certifi==2024.2.2
googleapis-common-protos==1.62.0
grpc-gateway-protoc-gen-openapiv2==0.1.0
grpcio==1.62.0
lz4==4.3.3
pinecone-client==3.1.0
protobuf==3.20.3
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1

amqp==5.2.0
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0

kombu==5.3.5
prompt-toolkit==3.0.43
python-dateutil==2.9.0.post0
six==1.16.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
